/* 主页index.html样式表 */
/* 去掉导航条a标签下划线样式 */
a{
  text-decoration: none;
  color:#333;
}
.topbar-wrapper{
  /* 设置宽度全屏 */
  width: 100%;
  /* 设置高度 */
  height: 40px;
  line-height: 40px;
  /* 设置背景色 */
  background-color: #333;

}
/* 设置导航菜单字体大小和颜色 */
.topbar a{
  font-size: 12px;
  color:#b0b0b0;
  display: block;
}
/* 设置超链接移入效果 */
.topbar a:hover{
  color: #fff;
}
/* 设置超链接中间线 */
.topbar .line{
  font-size: 12px;
  color: #424242;
  margin: 0 8px;
  margin-top: -1px;
}
/* 设置左侧导航浮动 */
.service,.topbar li{
  float:left
}
/* 设置App为相对定位 */
.app{
  position: relative;
 }
/* 设置悬浮三角的设置 */
.app::after{
  display: none;
  content: '';
  /* 设置绝对定位 */
  position:absolute;
  width: 0;
  height: 0;
  /* 设置四个角的方向的边框 */
  border: 6px solid transparent;
  /* 去掉上边边框 */
  border-top: none;
  /* 设置下边框的颜色 */
  border-bottom-color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


/* 显示上三角 */
.app:hover .qrcode,
.app:hover::after{
  display: block;
  height: 148px;
}

/* 设置下载App的下拉 */
.app .qrcode {
  /* display: none; */
  position: absolute;
  left:-37px;
  width: 124px;
  height: 0;
  overflow: hidden;
  /* height: 148px; */
  line-height: 1;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,.3);

  /* 用于样式过度效果 */
  transition: height 3s;

  z-index: 5000;

  
}

/* 设置图片样式 */
.qrcode img{
  width: 90px;
  /* height: 90px; */
  vertical-align: middle;
  margin: 17px;
  margin-bottom: 10px;
}

.qrcode span{
  color:rgba(51, 51, 143);
  font-size: 14px;
}
/* 设置右侧导航浮动 */
.shop-car,.user-info{
  float: right;
}
.shop-car{
  margin-left: 26px;
  position: relative;
  margin-bottom: none;
  
}
/* 设置购物车移入背景和字体样式 */
.shop-car:hover a{
  background-color: #fff;
  color:#ff6700;
}

.shop-car:hover .shop-car-info{
  display: block;
  height: 100px;
  line-height: 100px;
  visibility: visible;


}
/* 设置购物车标签宽度、背景色以及居中属性 */
.shop-car a{
  width: 120px;
  background-color: #424242;
  text-align: center;
}
/* 设置购物车图标距离 */
.shop-car i{
  margin-right: 2px;
}

/* 设置购物车样式以及背景色和阴影效果 */
.shop-car-info{
  display: block;
  visibility: hidden;
  width: 320px;
  height: 0;
  line-height: 0px;
  position: absolute;
  right: 0;
  border: 1px solid rgb(253, 253, 253);
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  color:black;
  text-align: center;
  transition: height 0.3s;
  background-color: white;
  z-index: 4000;
}

/* 设置头部导航条容器 并且开启相对定位*/
.header-wrapper{
  /* background-color: yellow; */
  position: relative;

}

/* 设置header */
.header{
  height: 100px;
  position: relative;
  z-index: 2000;
  /* border: 1px solid red; */
  /* background-color: red; */
}
/* 设置logo宽度和高度并开启相对定位
   增加溢出效果
*/
.header .logo{
  position: relative;
  float: left;
  margin-top: 22.5px;
  width: 55px;
  height: 55px;
  overflow: hidden;
  
}
/* 对logo下的超链接开启绝对定位，并且设置过度效果 */
.header .logo a{
  position: absolute;
  display: block;
  width: 55px;
  height: 55px;
  left: 0;
  background-image: url('../img/mi-log.png');
  background-position: center;
  transition: left 0.3s;
}
/* 为home设置背景色并且设置left */
.header .logo .home{
  left:-55px;
  background-image: url('../img/mi-log2.png');

}
/* 对mi增加过度效果 */
.header .logo:hover .mi{
  display: block;
  left: 55px;
}
/* 对home增加过度效果 */
.header .logo:hover .home{
  display: block;
  left: 0;
}
/* 设置中间导航条 */
.header .nav-wrapper{
  float:left;
  margin-left: 7px;
}

/* 设置导航条 */
.header .nav{
  /* width: 850px; */
  /* background-color: #bfa; */
  height: 100px;
  line-height: 100px;
  padding-left: 58px;
  
}
/* 设置导航条全部默认为隐藏 */
.nav .nav-all{
  visibility: hidden;
}


/* 设置导航条的li */
.nav-wrapper .nav > li{
  float:left
}


/* 设置导航条字体以及宽度 */
.nav-wrapper .nav > li a{
  font-size: 16px;
  margin-right:20px;
}

/* 设置悬浮到导航条字体颜色 */
.nav-wrapper .nav > li:not(:first-of-type):hover a{

 color: rgb(255, 103, 0);

}

/* 默认设置导航条菜单子项全部为隐藏 */
.nav .nav-all{
  visibility: hidden;
}


/* 设置左侧导航条的样式 */
.left-menu{
  position: absolute;
  width: 234px;
  height: 420px;
  background-color:rgba(0,0,0,.6);
  left:0;
  padding: 20px 0;

}
/* 设置左侧导航菜单子菜单样式 */
ul .left-menu li a{
  display: block;
  line-height: 42px;
  color:rgb(223, 223, 223);
  padding-left: 25px;
  margin-right: 0;
}
/* 设置图标行高和右飘 */
.left-menu a i{
  /* position: absolute; */
  /* top:15px;
  right: 20px; */
  line-height: 42px;
  float:right;


}
/* 设置左侧导航菜单悬浮菜单样式 */
ul .left-menu li:hover{
  background-color: rgb(255, 103, 0);
}

/* 设置点击导航条弹出层样式，并开启绝对定位相对于header-wrapper */
.header-wrapper .goods-info{
  
  height: 0;
  width: 100%;
  overflow: hidden;
  background-color: white;
  position: absolute;
  left:0;
  top:100px;
  transition: height 0.6s;
}
/* 点击导航条菜单弹出层出现 ,生效要放在选择器下面，选择器有优先级*/
.nav li:not(:first-of-type,:last-of-type,:nth-child(9)):hover ~ .goods-info,.goods-info:hover{
  height: 228px;
  border-top: 1px solid rgb(224,224,224);
  box-shadow: 0 5px 3px rgba(0,0,0,.2);
}

/* 搜索框的容器 */
.search-wrapper{

  width: 296px;
  line-height: 50px;
  float:right;
  margin-top: 25px;
  /* border: 1px solid rgb(224,224,224); */

}
/* 设置搜索按钮样式以及去掉轮廓框 */
.search-wrapper .search-inp{
  box-sizing: border-box;
  height: 50px;
  width: 244px;
  float: left;
  padding: 0;
  border: none;
  padding: 0 10px;
  border: 1px solid rgb(224,224,224);
  outline: none;
}
/* 设置搜索按钮样式以及去掉轮廓框 */
.search-wrapper .search-btn{
  height: 50px;
  width: 52px;
  float: left;
  padding: 0;
  border: none;
  background-color: #fff;
  color:#616161;
  font-size: 16px;  
  border: 1px solid rgb(224,224,224);
  border-left: none;
  outline: none;

}

/* 设置搜索框焦点 */
.search-wrapper .search-inp:focus,
.search-wrapper .search-inp:focus  + button
{
  border-color: #ff6700

}

/* 设置按钮的背景色 */
.search-btn:hover{
  background-color:  #ff6700;
  color:white;
  border: none;
}

/* 设置banner相对定位 */
.banner{
  position: relative;
  height: 460px;
}
/* 设置Li绝对定位 */
.banner .img-list li{
 position: absolute;

}
/* 设置图片的外框bottom以及100%适应 */
.banner img{
  width:100%;
}

/* 设置点容器开绝对定位 */
.pointer{
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 25px;

}
/* 设置具体点的位置和大小信息以及背景等 */
 .pointer a{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(0,0,0,.4);
  border:2px solid darkgrey;
  box-shadow: 0 0 10px rgba(255,255,255,.4);
  margin-left: 5px;
  float: left;

}
/* 设置悬浮效果 */
.pointer a:hover{
  background-color: rgba(255,255,255,.4);
  border:2px solid darkgrey;
  box-shadow: 0 0 10px rgb(0,0,0,.4);
}
/* .prev-next{
 
  background-color: red;
  position: absolute;
} */
/* 为a标签开启绝对定位和设置高度以及宽度和背景色 */
.prev-next a{
  width: 41px;
  height: 69px;
  position: absolute; 
  top:0;
  bottom: 0;
  margin: auto 0;
  background-image: url('../img/icon-slides.png');

}
/* 设置悬浮改变图片位置 */
.prev-next .prev:hover{
  background-position: 0 0;
}
/* 默认prev图片位置 */
.prev-next .prev{
  left:234px;
  background-position: -84px 0;
}
.prev-next .next:hover{
  background-position: 125px 0;
}
/* next */
.prev-next .next{
  background-position: -125px 0;
  right:0;
}